/* Анимация затемненного объекта (при наведении становится светлее или темнее) */

.in-shadow{
    opacity: 0.65;
    transition: opacity .6s ease-out;
}

.in-shadow:hover{
    opacity: 1;
}

.to-shadow{
    opacity: 1;
    transition: opacity .6s ease-out;
}

.to-shadow:hover{
    opacity: 0.5;
}

.in-darkness{
    opacity: 0.25;
    transition: opacity 1s ease-out;
}

.in-darkness:hover{
    opacity: 1; 
}



/* Анимация затухания границ */

.border-out{
    transition: all 1s ease-in;
}

.border-out:hover{
    border: 2px solid var(--color-bg);
}

